{erl_opts, [debug_info]}.

{deps, [
  { jsx, { git, "https://github.com/talentdeficit/jsx.git", { tag, "v3.1.0" } } }
]}.

{relx, [{release, {erflux, "2.0.1"},
         [erflux,
          sasl]},

    {mode, dev},

]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
